<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>~ Quizzl.me ~</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body{
			background-color: #3BAFDA;
			color: white;
			font-family: 'Roboto', sans-serif;
		}

		a {
			color: white;
		}

		h1 {
			font-family: 'Indie Flower', cursive;
			font-size: 3em;
		}

		[v-cloak]{
			display: none;
		}

		.settings {
			border-top: 2px solid white;
			padding-top: 10px;
		}
		
		.error {
			border: 2px solid red;
		}

		footer a {
			color: white;
		}

		footer a:hover {
			color: white;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	
	<header class='pt-5 pb-5 text-center'>
		<h1>Quizzl.me</h1>
	</header>

	<div id='quizzl' class="container">
		<!-- INTRODUCTION VIEW -->
		<div v-cloak v-if='status == "introduction"'>
			
			<p class='text-center'>Welcome to Quizzl.me, a simple and custom quiz system for multiple choice questions.</p>
			
			<br />

			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h2>1. Set your questions..</h2>
					<p>Take your pick from the different question sets below.</p>

					<select class="form-control w-100" v-model='quizInput'>
						<option value='' disabled selected>Select an official Quizzl quiz set.</option>
						<option v-for='que in quizSets' v-bind:value='que.JSON'>{{que.name}}</option>
				    </select><br />

				    <p>Upload your own questions, using a specific format (<a href='https://github.com/stuartajd/quizzl/wiki/Quizzl-Custom-Quiz-Structure' target="_blank">found here</a>).</p>

				   	<textarea v-model='quizInput' v-bind:class='{error: quizInputError}' class='form-control w-100' placeholder='Quiz Question Set'></textarea>
				    <p class='d-block text-right' style='color: red'>{{quizInputErrorMessage}}</p>
				</div>	

				<div class="col-sm-12 col-md-6">
					<h2>2. Load the quiz..</h2>
					<p>Click the button below to load the quiz and begin.</p>

					<button type='button' class='btn btn-outline-light d-block w-50 mx-auto' v-on:click='checkQuiz'>Load Quiz</button>
				</div>
			</div>
		</div>

		<!-- DESCRIPTION VIEW -->
		<div v-cloak v-if='status == "description"'>
			<p class='text-center'>Welcome to Quizzl.me, a simple and custom quiz system for multiple choice questions.</p>
			
			<br />

			<div class="row">
				<div class="col-sm-12 col-md-6">
					<h2>3. Quiz information..</h2>

					<h4>{{about.description}}</h4>

					<ul>
						<li>This quiz has {{quizQuestions.length}} questions<span v-if='about.questionLimit != 0'>, you will only be asked {{about.questionLimit}} questions</span>.</li>
						<li>You have {{getTimelimit}} minutes to complete the quiz. After this time your quiz score will be calculated.</li>
						<li>Skip has been <span v-if='about.allowSkip'>enabled</span><span v-else>disabled</span> for this quiz.</li>
						<li>Back has been <span v-if='about.allowBack'>enabled</span><span v-else>disabled</span> for this quiz.</li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-6">
					<h2>4. Begin the quiz..</h2>

					<p>Now it's time to start the quiz, the timer starts when you press the button below. Good luck!</p>
					
					<button type='button' class='btn btn-outline-light d-block w-25 mx-auto' v-on:click='startQuiz'>Start Quiz</button>
				</div>
			</div>			
			
		</div>

		<!-- QUIZ VIEW -->
		<div v-cloak v-if='status == "quiz"'>
			
			<div v-if='index == question && !quizEnd' v-for='(quest, index) in quizQuestions' class='text-center'>
				<small class='d-block text-right' v-if='about.timeLimit'>{{timer.minutes}}:{{timer.seconds | formatNumber}} remaining.</small>

				<h2 class='mt-2 mb-4'>{{quest.question}}?</h2>

				<img v-if='quest.image' v-bind:src='quest.image' class='mt-1' style='max-width: 250px; max-height: 150px; height: auto'>

				<div class="row mt-1">
					<div class="col-sm-12 col-md-6" v-for='(ans, ind) in quest.answers'>
						<button type='button' class='btn btn-outline-light d-block mt-1 w-100' v-on:click='answer(ind)'>{{ans}}</button>
					</div>
				</div>

				<div class='row mt-3'>
					<div class="col-3">
						<button type='button' class='btn btn-outline-danger d-block w-100' v-on:click='back()'>Previous Question</button>
					</div>
					<div class="col-sm-12 col-md-6">&nbsp;</div>
					<div class="col-3 text-right">
						<button type='button' class='btn btn-outline-warning d-block w-100' v-on:click='answer("skip")'>Skip Question</button>
					</div>
				</div>
			</div>

			<div v-if='quizEnd'>
				<h2>5. End the quiz..</h2>
				<h4 class='text-center'>You got {{calculateScore}} correct out of a possible {{quizQuestions.length}}. That's {{calculatePercent}}%</h4><br />
					
				<button type='button' class='d-block w-25 mx-auto btn btn-outline-success' v-on:click='restart()'>Start Again</button>

				<div class='row mt-3' v-if='getIncorrectAnswers.length'>
					<div v-for='que in getIncorrectAnswers' class='col-sm-12 col-md-6'>
						<strong>Question:</strong> {{que.question}}?<br />
						<strong>You answered:</strong> <span v-if='!que.answers[que.answered]'>Skipped</span><span v-else>{{que.answers[que.answered]}}</span>.<br />
						<strong>The correct answer:</strong> {{que.answers[que.correct]}}.<br />
						<hr />
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<footer style='background-color: #087CA7;' class='mt-5'>
		<div class="container pt-3 pb-2 text-center">
			<p style='font-size: 14px;'>
				<a href='https://github.com/stuartajd/quizzl' target='_blank'>Quizzl.me</a> 
				~
				<a href='https://github.com/stuartajd/quizzl/wiki/Submit-Quizzl-Question-Set' target='_blank'>Submit Official Question Set</a>
			</p>
		</div>
	</footer>
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
	<script>
		var Quizzl = new Vue({
			el: '#quizzl',
			data: {
				status: 'introduction',
				about: {
					description: '',
					timeLimit: 0,
					questionLimit: 0,
					allowSkip: false,
					allowBack: false,
					randomise: false,
				},
				quiz: [],
				quizSets: [],
				question: 0,
				quizInput: '',
				quizInputError: false,
				quizInputErrorMessage: '',
				quizEnd: false,
				timer: {
					timer: null,
					minutes: 00,
					seconds: 00,
				},
				settingsDisplay: false
			},
			filters: {
				formatNumber: function(value){
					return (value > 10) ? value : '0' + value;
				}
			},
			created: function(){
				var _this = this;

				axios.get('https://www.quizzl.me/api')
		  		.then(function (response) {
		  			_this.quizSets = response.data;
			  	
		  			if(_this.getURLSlug()){
		  				var slug = _this.quizSets.filter(el => el.uid == _this.getURLSlug())[0];	
		  				if(!slug) return;
		  				_this.quizInput = slug.JSON;
		  				_this.checkQuiz();
		  			}
			  	});
			},
			computed: {
				calculateScore: function(){
					return this.quizQuestions.filter(el => el.correct == el.answered).length;
				},
				calculatePercent: function(){
					return parseInt((this.calculateScore / this.quizQuestions.length) * 100);
				},
				getIncorrectAnswers: function(){
					return this.quizQuestions.filter(el => el.correct != el.answered);
				},
				getUnansweredQuestions: function(){
					return this.quizQuestions.filter(el => !el.answered);
				},
				getTimelimit: function(){
					return (this.about.timeLimit == 0) ? 'unlimited' : this.about.timeLimit;
				},
				quizQuestions: function(){
					if(!this.about.questionLimit) return this.quiz;
					return this.quiz.splice(0, this.about.questionLimit);
				}
			},
			methods: {
				getURLSlug: function(){
					return (window.location.pathname.slice(1));
				},
				restart: function(){
					window.location.reload();
					return;
				},
				showSettings: function(){
					this.settingsDisplay = !this.settingsDisplay;
				},
				back: function(){
					if(!this.quizQuestions[this.question-1]) return;
					this.question--;
				},
				answer: function(index){
					this.quizQuestions[this.question].answered = (index == 'skip') ? false : index;

					if(!this.quizQuestions[this.question+1]){
						if(this.timer.timer){
							clearInterval(this.timer.timer);
						}
						this.quizEnd = true;
					} else {
						this.question++;
					}
				},
				startQuiz: function(){
					if(this.about.timeLimit){
						this.timer.minutes = this.about.timeLimit;
						this.timer.timer = setInterval(this.updateTimeRemaining, 1000);
					}

					this.status = 'quiz';
				},
				updateTimeRemaining: function(){
					if(!this.timer.minutes && !this.timer.seconds){
						for(var ans of this.getUnansweredQuestions){
							ans.answered = false;
						}
						this.quizEnd = true;
						clearInterval(this.timer.timer);
						return;
					}

					if(this.timer.seconds == 0){
						this.timer.minutes--;
						this.timer.seconds = 59;
					}

					this.timer.seconds--;
				},
				checkQuiz: function(){
					this.quizInputError = false;
					this.quizInputErrorMessage = '';

					this.quizInput = this.quizInput.trim();
					if(!this.quizInput.length){
						this.quizInputError = true; 
						this.quizInputErrorMessage = 'Quiz input is required.';
						return;
					}

					try{
						var jsonInput = JSON.parse(this.quizInput);
					} catch(e){
						this.quizInputError = true;
						this.quizInputErrorMessage = 'Quiz input is an incorrect format.';
						return;
					}

					if(!jsonInput.quiz.length){
						this.quizInputError = true;
						this.quizInputErrorMessage = 'No questions found in the quiz.';
					}

					if(!jsonInput.about){
						jsonInput.about = '';
					}

					this.about.description 	= jsonInput.about.description || 'No description has been set for this quiz.';
					this.about.timeLimit 	= jsonInput.about.timeLimit || 0;
					this.about.questionLimit= jsonInput.about.questionLimit || 0;
					this.about.allowSkip 	= jsonInput.about.allowSkip || false;
					this.about.allowBack 	= jsonInput.about.allowBack || false;
					this.about.randomise	= jsonInput.about.randomise || false;

					for(let qz of jsonInput.quiz){
						if(!qz.question.length) return;
						if(!qz.answers.length) return;
						if(!qz.answers[qz.correct].length) return;
						qz.answered = false;
						this.quiz.push(qz);
					}
					
					if(this.about.randomise && this.quiz.length > 1){
						for (let i = this.quiz.length - 1; i > 0; i--) {
					        let j = Math.floor(Math.random() * (i + 1));
					        [this.quiz[i], this.quiz[j]] = [this.quiz[j], this.quiz[i]];
					    }
					}

					this.status = 'description';
				}
			}
		});
	</script>

</body>
</html>
